*, *::before, * ::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #333, #aaa);
}

.calculatorGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: 30px repeat(6, 6rem);
    border-radius: 10px;
    overflow: hidden;
}

.titleBar {
    font-family: 'FreeMono', monospace;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #3cd691, #0c84b7);
    padding: 5px 0;
    height: 30px; 
}
.calculatorGrid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculatorGrid > button:hover,
.calculatorGrid > button:focus {
  background-color: rgba(255, 255, 255, .90);
}

.spanTwo {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #00000075;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previousOperand {
    color: #ffffff90;
    font-size: 1.5rem;
}
.output .currentOperand {
    color: #ffffff;
    font-size: 2.5rem;
}